In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

In [ ]:
# dynamic programming

a=10
print(a)
print(id(a))

a = 3.14
print(a)
print(id(a))

a ="NTT"
print(a)
print(id(a))

In [ ]:
# deleting a variable

a = 20
print(a)
del a
print(a)

In [ ]:
# creating multiple variables

a,b,c = 10 , 3.14 , "NTT"
print(a,b,c)

10 3.14 NTT

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

100 100 100

In [ ]:
# variable annonation
a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(b)

print(__annotations__['b'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a = "Blr"

print(a)

10
<class 'int'>
31.3
<class 'float'>
NTT
<class 'str'>
Blr

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
# this section is for commentingqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
#ddddddddddddddddddddddd
#ddddddddddddddddddddd

In [ ]:
# multiline comments

""" efdasdfasdf
asdfasdfasdf
asdfasdfasdf
asdfasfasdfasdfasdfasfd """

print("multiline comment")

multiline comment

In [ ]:
# string

s= "code yug"

print(s[0:3:1])
print(s[2:4])

cod
de

In [ ]:
# slicing

s = "bangalore"

print(s[::])

bangalore

In [ ]:
# negative slicing

s = "bangalore"

print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])

print(s[-1: :-1])

ero
eoan

erolagnab

In [ ]:
# simple if statement

if 10 > 5:
  print("Yes 10 is greater than 5")
  print("I am inside the if block")
  print("I am still inside the if block")
else:
  print("No 10 is not greater than 5")
print("I am outside the if block")

Yes 10 is greater than 5
I am inside the if block
I am still inside the if block
I am outside the if block

In [ ]:
# input statement

a = int(input("Enter your Marks :"))

if a > 35:
  print("Pass")
else:
  print("Fail")

print("Thank You")

Enter your Marks :34
Fail
Thank You

In [ ]:
# if elif else

x=int(input("Enter your Marks :"))

if x>=90:
  print("A Grade")
elif x>=80:
  print("B Grade")
elif x>=70:
  print("C Grade")
else:
  print("D Grade")

print("Thank You")

Enter your Marks :89
B Grade
Thank You

In [ ]:
# reverse a string

str=input("Enter a string :")
print(str[::-2])

Enter a string :mayur
rym

In [ ]:
str = "NTD"
print(str[:1:-1])

D

In [ ]:
# break statement

for i in "bangalore":
 print(i)
 if i == 'g':
    break

print("End of loop")

b
a
n
g
End of loop

In [ ]:
#startwith

str=input("Enter a number: ")
if str.startswith("92"):
  print("Pak")
elif str.startswith("91"):
  print("India")
elif str.startswith("1"):
  print("USA")
elif str.startswith("3"):
  print("uk")
else:
  print("Number is invalid")

Enter a number: 911
India

In [ ]:
#endswith

str=input("Enter your url :")
if str.endswith("com"):
  print("COmmercial website")
elif str.endswith("edu"):
  print("Educational website")
else:
  print("Invaid website")

Enter your url :www.com
COmmercial website

In [5]:
#remove dups

l1=[10,25,36,10,81,25]

uniquelist=[]
for i in l1:
  if i not in uniquelist:
    uniquelist.append(i)
print(uniquelist)

[10, 25, 36, 81]

In [ ]:
#print largest

l1=[5,15,7,6,3,9]