In [ ]:
a = 10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

In [ ]:
# dynamic programming

a=10
print(a)
print(id(a))

a = 3.14
print(a)
print(id(a))

a ="NTT"
print(a)
print(id(a))

In [ ]:
# deleting a variable

a = 20
print(a)
del a
print(a)

In [ ]:
# creating multiple variables

a,b,c = 10 , 3.14 , "NTT"
print(a,b,c)

10 3.14 NTT

In [ ]:
#assign single values to multiple variables

a=b=c=100
print(a,b,c)

100 100 100

In [ ]:
# variable annonation
a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(b)

print(__annotations__['b'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a = "Blr"

print(a)

10
<class 'int'>
31.3
<class 'float'>
NTT
<class 'str'>
Blr

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
# this section is for commentingqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
#ddddddddddddddddddddddd
#ddddddddddddddddddddd

In [ ]:
# multiline comments

""" efdasdfasdf
asdfasdfasdf
asdfasdfasdf
asdfasfasdfasdfasdfasfd """

print("multiline comment")

multiline comment

In [ ]:
# string

s= "code yug"

print(s[0:3:1])
print(s[2:4])

cod
de

In [ ]:
# slicing

s = "bangalore"

print(s[::])

bangalore

In [ ]:
# negative slicing

s = "bangalore"

print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-2:-6:2])

print(s[-1: :-1])

ero
eoan

erolagnab

In [ ]:
# simple if statement

if 10 > 5:
  print("Yes 10 is greater than 5")
  print("I am inside the if block")
  print("I am still inside the if block")
else:
  print("No 10 is not greater than 5")
print("I am outside the if block")

Yes 10 is greater than 5
I am inside the if block
I am still inside the if block
I am outside the if block

In [ ]:
# input statement

a = int(input("Enter your Marks :"))

if a > 35:
  print("Pass")
else:
  print("Fail")

print("Thank You")

Enter your Marks :34
Fail
Thank You

In [ ]:
# if elif else

x=int(input("Enter your Marks :"))

if x>=90:
  print("A Grade")
elif x>=80:
  print("B Grade")
elif x>=70:
  print("C Grade")
else:
  print("D Grade")

print("Thank You")

Enter your Marks :89
B Grade
Thank You

In [ ]:
# reverse a string

str=input("Enter a string :")
print(str[::-2])

Enter a string :mayur
rym

In [ ]:
str = "NTD"
print(str[:1:-1])

D

In [ ]:
# break statement

for i in "bangalore":
 print(i)
 if i == 'g':
    break

print("End of loop")

b
a
n
g
End of loop

In [ ]:
#startwith

str=input("Enter a number: ")
if str.startswith("92"):
  print("Pak")
elif str.startswith("91"):
  print("India")
elif str.startswith("1"):
  print("USA")
elif str.startswith("3"):
  print("uk")
else:
  print("Number is invalid")

Enter a number: 911
India

In [ ]:
#endswith

str=input("Enter your url :")
if str.endswith("com"):
  print("COmmercial website")
elif str.endswith("edu"):
  print("Educational website")
else:
  print("Invaid website")

Enter your url :www.com
COmmercial website

In [ ]:
#remove dups

l1=[10,25,36,10,81,25]

uniquelist=[]
for i in l1:
  if i not in uniquelist:
    uniquelist.append(i)
print(uniquelist)

[10, 25, 36, 81]

In [ ]:
#print 2nd largest no from the list

l1=[5,15,7,6,3,9,45,54,54.1,54.11]

firstlargest=max(l1)
print(firstlargest)
l1.remove(firstlargest)
print(l1)

secondlargest=max(l1)
print("The 2nd largest no is ",secondlargest)

54.11
[5, 15, 7, 6, 3, 9, 45, 54, 54.1]
The 2nd largest no is  54.1

In [ ]:
#print occurances

l1=[2,4,6,2,8,6,3,2,4]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
        print(i,"Occurs", l1.count(i), "times")

l2=[2,4,6,2,8,6,3,2,4]
for ele in l2:
  count = l2.count(ele)
  print(ele, count)

2 Occurs 3 times
4 Occurs 2 times
6 Occurs 2 times
8 Occurs 1 times
3 Occurs 1 times
2 3
4 2
6 2
2 3
8 1
6 2
3 1
2 3
4 2

In [ ]:
#tupple

t1=(1,3,4,6,7)
print(t1)
print(type(1))

d1={"q":3,"qq":1.1,"qqq":"NTT Data"}
print(d1)
print(type(d1))

(1, 3, 4, 6, 7)
<class 'int'>
{'q': 3, 'qq': 1.1, 'qqq': 'NTT Data'}
<class 'dict'>

In [ ]:
#dict

d1={"name":'Ram','age':30,'city':"Mum"}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.values())

print(d1.items())

{'name': 'Ram', 'age': 30, 'city': 'Mum'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Ram', 30, 'Mum'])
dict_items([('name', 'Ram'), ('age', 30), ('city', 'Mum')])

In [5]:
#dict1

d1={2:100,4:200,6:300,'aa':100,'Aa':200}
print(d1)

{2: 100, 4: 200, 6: 300, 'aa': 100, 'Aa': 200}

In [20]:
# create a dict

d1 = {2 : 100 ,
      4 : 200 ,
      6 : 300 ,
      8 : 400 ,
      10 : 500}
print(d1)
print(type(d1))

print(d1[2])
print(d1[10])

print('\n')
d2 = {'aa':100,
      'bb':200,
      'cc':300}

print(d2)
print(d2['cc'])

print('\n')

d3 = {3:[1,2,3],
      6:(2,3,4),
      7:'NTT'}
print(d3)
print(d3[6])
print(type(d3[6]))
print(type(d3[7]))

print('\n')

d4={(1,2):100,
    (3,4):200,
    (5,6):300,
    'hi':400}
print(d4)
print(d4[(1,2)])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
100
500


{'aa': 100, 'bb': 200, 'cc': 300}
300


{3: [1, 2, 3], 6: (2, 3, 4), 7: 'NTT'}
(2, 3, 4)
<class 'tuple'>
<class 'str'>


{(1, 2): 100, (3, 4): 200, (5, 6): 300, 'hi': 400}
100

In [23]:
# iterating through a dict

# iterate through keys

d1 = {2 : 100 ,
      4 : 200 ,
      6 : 300 ,
      8 : 400 ,
      10 : 500}

for key1 in d1:
  print(key1)

2
4
6
8
10

In [25]:
# iterate through values

d1 = {2 : 100 ,
      4 : 200 ,
      6 : 300 ,
      8 : 400 ,
      10 : 500}

for value in d1.values():
  print(value)

100
200
300
400
500

In [26]:
# iterate through ites ... item means (key,value) pair

d1 = {2 : 100 ,
      4 : 200 ,
      6 : 300 ,
      8 : 400 ,
      10 : 500}

for item in d1.items():
  print(item)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [29]:
d1 = {2 : 100 ,
      4 : 200 ,
      6 : 300 ,
      8 : 400 ,
      10 : 500}

for key in d1:
  print(key)
  print(d1[key])

2
100
4
200
6
300
8
400
10
500

In [30]:
d1 = {2:100, 4:200, 6:300, 8:400}

for x,y in d1.items():
  print(x)
  print(y)

2
100
4
200
6
300
8
400

In [31]:
# membership operator

d1 = {2:100, 4:200, 6:300, 8:400}
if 2 in d1:
  print("2 is present")

if 10 not in d1:
  print("10 not presnet")

2 is present
10 not presnet