In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
#dynamic

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a="NTT"
print(a)
print(id(a))

10
10751144
3.14
138056935807280
NTT
138056453074224

In [ ]:
#deleting a variable

a=20
print(a)
del a
print(a)

20

NameError: name 'a' is not defined

In [ ]:
#creating multiple variables

a,b,c = 10 , 3.14 , "NTT"
print(a,b,c)

10 3.14 NTT

In [ ]:
# string

s= "code yug"

print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])

cod
de
cd

In [ ]:
# negative slicing

s = "bangalore"
print(s[-1:-4:-1])
print(s[-1:-8:-2])
print(s[-6:1:-1])

ero
eoan
gn

In [ ]:
a=1
b=2
c=a
d=1
print(a)
print(c)
print(d)
print(id(a))
print(id(d))
print(id(b))
a={1,2,2,3,4,3}
print(a)
print(type("1"))
print(11,22,33,44)
print("""this is comments

in the python""")

1
1
1
10750856
10750856
10750888
{1, 2, 3, 4}
<class 'str'>
11 22 33 44
this is comments

in the python

In [9]:
s="bangalore"
s1="hello,world!"
print(s1[-5:2:-2])

print(s[3:0:-1])

print(s[7:1:2])

print(s[-9:-4:2])

o,l
gna

bna

In [15]:
#palindrome logic
a=(input("Enter a string:"))
b=a[::-1]
if a==b:
  print("Palindrome")
else:
  print("Not a palindrome")

Enter a string:mlm
Palindrome